.mainContent {
    display: flex;
    flex-direction: column;
}

.pageContent {
    margin-top: 70px;
    margin-right: 260px;
    width: calc(100% - 260px);
    padding: 24px;
}
.pageAllWidth {
    margin-top: 70px;
    margin-right: 0;
    width: 100%;
    padding: 24px;
}

@media (max-width: 750px) {
    .pageContent {
        margin-right: 0;
        width: 100%;
    }
}