.form {
    background-color: var(--surface-light);
    padding: 32px;
    border-radius: 20px;
}
.title {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
    color: var(--primary-color);
}
.formData label {
    display: block;
    font-size: 14px;
    color: var(--text-primary);
}
.storeN input {
    margin: 10px 0 15px;
    width: 50%;
}
.groupRow {
    display: flex;
    align-items: center;
    gap: 10px;
}
.groupRow p {
    display: flex;
    flex-direction: column;
    width: 25%;
}
.groupRow input {
    margin: 10px 0 15px;
}
.curInp {
    width: 50%;
}
.curInp select {
    width: 100%;
    margin: 10px 0 15px;
}

@media (max-width: 992px) {
    .storeN input {
        width: 100%;
    }
    .groupRow p {
        width: 50%;
    }
    .curInp {
        width: 100%;
    }
}