.badge {
    background-color: var(--border-color);
    color: var(--text-secondary);
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 14px;
}
.productName {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
.price {
    color: var(--primary-color) !important;
    font-weight: bold;
}
.inventory span {
    padding: 4px 10px ;
    border-radius: 50px;
    font-weight: 600;
    font-size: 14px;
}
.inv {
    background-color: var(--bg-color);
    color: var(--secondary-color);
}
.invDanger {
    background-color: var(--bg-secoundary);
    color: var(--danger-color);
}
.checkProduct {
    padding: 16px;
    border: 1px dashed var(--primary-color);
    border-radius: 8px;
    margin: 16px 0;
}
.formContainer {
    margin-top: 16px;
    background: var(--background-light);
    padding: 16px;
    border-radius: 6px;
}
@media (max-width: 1100px) {
    .code {
        font-size: 10px !important;
    }
}