.btnSubmit,
.btn {
    background-color: var(--secondary-color) !important;
}
.suppName {
    display: flex;
    align-items: center;
    gap: 10px;
}
.suppName span {
    color: var(--text-primary)
}
.suppName svg {
    color: var(--secondary-color);
}
.balance {
    color: var(--danger-color) !important;
}
.tdOverFlow {
    overflow-x: scroll;
}
.btnSubmit {
    margin: 20px 0 0;
    width: 100%;
}
